<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484011617000-q8or4a5gnhela831dpah43n6b0sj8gq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484011617000-q8or4a5gnhela831dpah43n6b0sj8gq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDjERkoIa2-RjcWMdE8EC154gtYgUZgoPo</string>
	<key>GCM_SENDER_ID</key>
	<string>484011617000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amr-moussa.sharex</string>
	<key>PROJECT_ID</key>
	<string>sharex-dd269</string>
	<key>STORAGE_BUCKET</key>
	<string>sharex-dd269.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484011617000:ios:08c055ec56cc063032375d</string>
</dict>
</plist>